/* Type whatever CSS you need here! */

.circle {
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
}

.rectangle {
    margin: auto;
}

.movie {
    width: 400px;
    height: 200px;
    margin: auto;
    display: flex;
    background-color: lightgrey;
}

.posterImg {
    display: flex;
    width: 40%;
    height: 90%;
    flex-direction: column;
    margin: 10px 5px;
}

.posterInfo {
    flex-direction: column;
    background-color: white;
    margin: 10px 5px;
    padding-top: 10px;
    width: 60%;
    height: 90%;
    padding-left: 10px;
}

.posterInfo p {
    margin-bottom: 0;
}

.nameGreeting {
    background-color: blue;
    color: white;
    font-size: 25px;
}

.personName {
    font-size: 20px;
}

.Icon--verifiedWhite {
    width: 1.11111em;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2072%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M57%2037.288c0-4.07-2.25-7.59-5.523-9.26.397-1.12.613-2.328.613-3.598%200-5.683-4.394-10.283-9.818-10.283-1.212%200-2.368.216-3.436.64C37.246%2011.357%2033.886%209%2030%209c-3.885%200-7.242%202.357-8.837%205.787-1.066-.424-2.228-.64-3.434-.64-5.426%200-9.82%204.6-9.82%2010.283%200%201.27.217%202.478.612%203.598-3.27%201.67-5.52%205.192-5.52%209.26%200%203.84%202.01%207.193%204.99%208.96-.05.435-.082.874-.082%201.323%200%205.683%204.392%2010.284%209.818%2010.284%201.206%200%202.368-.218%203.434-.638C22.758%2060.644%2026.115%2063%2030%2063c3.887%200%207.246-2.356%208.837-5.784%201.068.42%202.224.638%203.436.638%205.423%200%209.818-4.6%209.818-10.283%200-.448-.034-.886-.085-1.322C54.98%2044.48%2057%2041.128%2057%2037.288zm-14.797-6.742s-14.558%2014.55-14.878%2014.872c-.546.548-1.263.823-1.98.823-.712%200-1.425-.27-1.97-.812l-6.53-6.498c-1.093-1.088-1.098-2.857-.01-3.95%201.087-1.095%202.856-1.098%203.95-.01l4.555%204.53%2012.914-12.906c1.09-1.09%202.86-1.09%203.95%200%201.09%201.093%201.09%202.86%200%203.952z%22%2F%3E%3C%2Fsvg%3E)
}